@font-face {
    font-family: 'futura-pt';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/futura-pt-book.ttf');
}

@font-face {
    font-family: 'futura-pt';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/futura-pt-book-oblique.ttf');
}

@font-face {
    font-family: 'futura-pt';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/futura-pt-medium.ttf');
}

body {
    font-family: 'futura-pt', Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin: 50px 100px;
}

button {
    margin: auto;
    margin-top: 50px;
}

#defaultCanvas0 {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 90%;
    /*border: 2px solid #000;*/
    /*box-shadow: 0px 0px 100px 10px #999;*/
}

h1 {
    font-family: 'futura-pt', Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    border: 0px;
    overflow: hidden;
}

#navlist li {
    float: left;
}

#navlist li a {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
    text-align: center;
}

#navlist li a:hover {
    background-color: #000;
    color: white;
}

.active {
    background-color: #F1F1F1;
    color: white;
}

#nav {
    border-bottom: 5px solid #000;
}

h3 {
    font-family: 'futura-pt';
    font-size: 1.5em;
    margin: 50px 0px;
}

.content {
    display: block;
    margin: 100px auto;
    width: 600;
    line-height: 2.5;
    font-size: 1em;
}

.content p {
    margin: 50px 0;
    color: #FFF;
    color: #000;
}

.plist li, p {
    font-family: Monospace;
    line-height: 150%;
}

footer {
    font-family: Monospace;
    font-size: 0.9em;
    text-align: center;
    color: #444;
    margin: 50px 0px;
}

.checkboxes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkboxes li input {
    margin: 0px 10px;
}

#speed p {
    text-align: center;
    font-size: 3em;
}

#time {
    margin-bottom: 50px;
}

#time p {
    text-align: center;
    font-size: 1.5em;
}

button {
    margin: 50px auto;
    display: block;
    background-color: #DDD;
    border: none;
    color: #000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-family: 'futura-pt';
    font-weight: bold;
}

button:hover {
    background-color: #000;
    color: #FFF;
}

button:focus {
    outline: none;
}

#distance {
    font-size: 1.2em;
    margin: 50px 0px;
}

#speedlimit {
    font-size: 1.2em;
    margin: 50px 0px;
}

#regcheck input {
  text-align: center;
  display: block;
  margin: auto;
  border-radius: none;
  border: none;
  border-bottom: solid 3px #000;
  font-family: 'futura-pt';
  font-size: 2em;
  width: 80%;
}

#regcheck input:focus {
    outline: none;
}

#lookup p {
  text-align: center;
  font-size: 1.4em;
}

#addData select {
  text-align: center;
  display: block;
  margin: auto;
  border-radius: none;
  border: none;
  border-bottom: solid 3px #000;
  font-family: 'futura-pt';
  font-size: 1.5em;
  width: 60%;
  /*-webkit-appearance: none;*/
}

#addData select:focus {
    outline: none;
}

#addData input[type=range] {
  display: block;
  width: 60%;
  margin: 20px auto;
}

#addData p {
  font-family: 'futura-pt';
  display: block;
  position: relative;
  left:120px;
  margin: 50px 0px 0px 0px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #000000;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 5.5px rgba(0, 0, 0, 0.6), 0px 0px 0px rgba(13, 13, 13, 0.6);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 36px;
    width: 16px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
}


input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #000000;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 5.5px rgba(0, 0, 0, 0.6), 0px 0px 0px rgba(13, 13, 13, 0.6);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 36px;
    width: 16px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 5.5px rgba(0, 0, 0, 0.6), 0px 0px 0px rgba(13, 13, 13, 0.6);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 36px;
    width: 16px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    height: 4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #000000;
}

input[type=range]:focus::-ms-fill-upper {
    background: #474747;
}
